{% extends "base.html" %}

{% block title %}Head Band-About{% endblock %}

{% block head %}
<link rel="stylesheet" href="/">
{% endblock %}

{% block body %}
<div class="container">
        <div class="row" style="margin-top: 100px;">
            <div class="col"></div>
            <div class="col-10" style="background-color: #f1b880;padding: 15px;">
                <h3 class="page-title">About Us</h3>
                <hr>
                <p class="question-content">We aim to help everyone learn better and more efficiently by using sensors to read your brain waves to tell us how your learning is going. If your learning isn’t working out, we help you get back on track.</p>
                <p class="question-content">This website is used to help you learn better by showing a video whenever your learning starts to slow down or you hit a mental block such as a difficult question or concept. This helps the brain get reinvigorated to start learning more.</p>
                <hr>


            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}